body {
  background: url(http://1919ikebukuro.com/image/bac.gif) #000000 repeat-x;
  color: #FFFFFF;
  margin: 0px;
  padding: 0px;
  font-size: 13px;
}
h1 {
  font-size: 10px;
  font-weight: normal;
  position: absolute;
  color: #FFFFFF;
  left: 135px;
  top: 6px;
  margin: 0px;
  padding: 0px;
}
form {
  text-align: left;
}
a {
  &:link,
  &:visited {
    color: #FFFFFF;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: #FF0000;
    text-decoration: none;
  }
}
a img {
  border: 0px;
}

#menu {
  padding: 0px;
  margin-bottom: 5px;
  height: 490px;
  overflow: hidden;
  ul {
    padding: 0px;
    margin: 0px;
  }
  ul li {
    height: 50px;
    width: 190px;
    margin: 0 0 5px;
    padding: 0 5px 0 0;
    overflow: hidden;
  }
  ul li a {
    display: block;
    height: 50px;
    background-repeat: no-repeat;
  }
  ul li a:hover {
    background-position: 0 -50px;
  }
  #top a {
    background-image: url(http://1919ikebukuro.com/image/bt/top.jpg);
  }
  #concept a {
    background-image: url(http://1919ikebukuro.com/image/bt/concept.jpg);
  }
  #system a {
    background-image: url(http://1919ikebukuro.com/image/bt/system.jpg);
  }
  #gals a {
    background-image: url(http://1919ikebukuro.com/image/bt/gals.jpg);
  }
  #schedule a {
    background-image: url(http://1919ikebukuro.com/image/bt/schedule.jpg);
  }
  #map a {
    background-image: url(http://1919ikebukuro.com/image/bt/map.jpg);
  }
  #movie_blog a {
    background-image: url(http://1919ikebukuro.com/image/bt/movie_blog.gif);
  }
  #movie a {
    background-image: url(http://1919ikebukuro.com/image/bt/movie.jpg);
  }
  #costume a {
    background-image: url(http://1919ikebukuro.com/image/bt/cotume.jpg);
  }
  #enquete a {
    background-image: url(http://1919ikebukuro.com/image/bt/enquete.jpg);
  }
}


#page_top {
  position: relative;
  height: 170px;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
}
#container {
  display: -webkit-flex;
  display: flex;
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1px 0;
}
#container2 {
  width: 1130px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1px 0;
}
#main {
  width: 900px;
}
#main2 {
  float: right;
  width: 930px;
}
#left {
  margin: 0 10px 0 0;
  width: 190px;
}
.left_box a {
  display: block;
  margin-bottom: 5px;
}
.c_both {
  clear: both;
}
#header {
  background: url(http://1919ikebukuro.com/image/CB_header3_2.gif) no-repeat;
  display: block;
  position: relative;
  height: 250px;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
  z-index: 0;
}
#top_movie {
  background: url(http://1919ikebukuro.com/image/top_movie2.gif);
  position: absolute;
  height: 162px;
  width: 224px;
  left: -54px;
  top: 16px;
  padding: 67px 13px 0;
  z-index: 9999;
}
#footer {
  text-align: center;
  margin: 20px 0 20px;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
}
#mobile_iframe {
  width: 226px;
  height: 50px;
  position: absolute;
  left: 697px;
  top: 85px;
}
#line_id {
  font-size: 15px;
  color: #FFF;
  width: 100px;
  position: absolute;
  left: 959px;
  top: 143px;
}

