/* CSS Document */
/* movie */
#movie_wrapper {
  clear: both;
  color: #202020;
  float: left;
  width: 660px;
  background-color: #444444; }

.movie_box {
  float: left;
  display: block;
  overflow: hidden;
  width: 215px;
  height: 207px;
  background-repeat: no-repeat;
  background-image: url(http://1919ikebukuro.com/image/movie/bg_box2.gif);
  margin: 0 3px 8px 0;
  position: relative;
  padding-top: 5px; }

.movie_title {
  line-height: 20px;
  height: 20px;
  text-align: center;
  width: 205px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden; }

.movie {
  display: block;
  padding: 18px 0 0 1px;
  height: 119px;
  width: 212px; }

.movie_prof {
  font-size: 12px;
  padding: 18px 0 0 10px;
  color: #FFF;
  line-height: 13px; }

.movie_prof a:link {
  color: #FFFFFF;
  text-decoration: none; }

.movie_prof a:visited {
  color: #FFFFFF;
  text-decoration: none; }

.movie_prof a:hover {
  color: #FFFF00;
  text-decoration: none; }

.movie_prof a:active {
  color: #FFFF00;
  text-decoration: none; }

#movie_wrapper object {
  height: 154px !important;
  width: 205px !important; }

#movie_wrapper video {
  height: 119px !important;
  width: 212px !important; }

#movie_wrapper2 {
  clear: both;
  color: #202020;
  float: left;
  width: 900px;
  background-color: #444444; }

#movie_wrapper2 object {
  height: 154px !important;
  width: 205px !important; }

#movie_wrapper2 video {
  height: 154px !important;
  width: 205px !important; }

#movie_wrapper2 #movie_container .movie_box {
  position: relative; }

#movie_wrapper2 #movie_container .movie_box .news04_cap {
  position: absolute;
  height: 45px;
  width: 45px;
  right: 0px;
  bottom: 0px; }
