#movie_wrapper {
  background: url(http://1919ikebukuro.com/image/movie/title.jpg) #444444 left top no-repeat;
  color: #202020;
  width: 660px;
  padding: 29px 0 0;
  margin-top: 5px; }

#movie_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.movie_box {
  background: url(http://1919ikebukuro.com/image/movie/bg_box2.gif) no-repeat;
  display: block;
  overflow: hidden;
  width: 215px;
  height: 207px;
  position: relative;
  padding-top: 5px; }

.movie_title {
  line-height: 20px;
  text-align: center;
  height: 20px;
  width: 205px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden; }

.movie {
  display: block;
  padding: 18px 0 0 1px;
  height: 119px;
  width: 212px; }
  .movie video {
    height: 119px !important;
    width: 212px !important; }

.movie_prof {
  font-size: 12px;
  line-height: 13px;
  padding: 18px 0 0 10px;
  color: #FFF; }
  .movie_prof a:link {
    color: #FFFFFF;
    text-decoration: none; }
  .movie_prof a:visited {
    color: #FFFFFF;
    text-decoration: none; }
  .movie_prof a:hover {
    color: #FFFF00;
    text-decoration: none; }
  .movie_prof a:active {
    color: #FFFF00;
    text-decoration: none; }
