#pickup {
  background: url(http://1919ikebukuro.com/image/movie/title.jpg) left top no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-color: #444444;
  overflow: hidden;
  margin-top: 5px;
  padding: 29px 0 0;
  height: 550px;
  width: 660px; }

.box {
  width: 220px; }

.border {
  width: 210px;
  margin-left: auto;
  margin-right: auto; }

.prof {
  padding-left: 10px; }

.date {
  font-size: 10px;
  color: #FF8C00; }

.title {
  color: #FFFF00;
  font-weight: bold;
  height: 15px;
  width: 220px;
  text-align: center; }

.com {
  font-size: 12px;
  width: 210px;
  margin-left: auto;
  margin-top: 5px;
  height: 145px;
  overflow: auto;
  margin-right: auto; }

.news04_name {
  height: 30px;
  width: 200px;
  margin-left: 5px;
  background-color: #333;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  position: relative; }
  .news04_name .news04_cap {
    height: 45px;
    width: 45px;
    position: absolute;
    top: -5px;
    right: 5px; }
  .news04_name .name_box {
    font-size: 13px;
    line-height: 16px; }
