#concept_top {
  width: 900px;
  background-repeat: no-repeat;
  margin-bottom: 5px;
}
#news {
  background: url(http://1919ikebukuro.com/image/news.jpg) no-repeat;
  width: 885px;
  height: 1131px;
  margin-top: 10px;
  padding: 52px 0 0 15px;
  overflow: hidden;
}
#history {
  background: url(http://1919ikebukuro.com/image/history.jpg) #242424 no-repeat;
  width: 230px;
  margin-top: 5px;
  padding: 50px 0 5px;
  height: 463px;
}
#history_top {
  background-color: #242424;
  overflow: auto;
  height: 465px;
  width: 230px;
}
#middle_container {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
}
#middle {
  display: flex;
  flex-wrap: wrap;
  width: 660px;
  margin-right: 10px;
}
#game {
  width: 230px;
  margin-bottom: 5px;
}
#sche {
  background: url(http://1919ikebukuro.com/image/schedule.jpg) no-repeat;
  width: 650px;
  height: 835px;
  margin: 10px 10px 0 0;
  padding: 65px 0 0 10px;
}
#today_sche {
  overflow: auto;
  height: 825px;
  width: 630px;
  padding-left: 10px;
}

.cbn_border {
  margin-left: 5px;
  text-align: center;
}
.cbn_title {
  color: #FFFF00;
  font-weight: bold;
  height: 15px;
  text-align: center;
  margin-top: 10px;
}
.cbn_com {
  font-size: 12px;
  margin: 5px 0 0 5px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #000000;
}
#cbn_container {
  height: 1126px;
  width: 885px;
  overflow: auto;
}

.shame_news_border {
  border: 1px solid #999999;
  padding: 2px;
  margin: 10px 10px 10px 5px;
}
.shame_news_title {
  color: #FF0000;
  font-weight: bold;
  border-bottom-width: 1px;
  border-bottom-color: #999999;
  display: block;
}
.shame_news_com {
  font-size: 12px;
  a img {
    margin-right: 7px;
  }
}
.shame_news_style1 {
  font-size: 14px;
  color: #FFFF00;
  font-weight: normal;
  letter-spacing: 0.1em;
  display: block;
  margin-bottom: 3px;
  height: 15px;
  .hiniti {
  font-family: "ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
  }
}
#concept_top2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 900px;
  margin-bottom: 5px;
}
#shame2 {
  background: url(http://1919ikebukuro.com/image/news3_4.jpg);
  width: 485px;
  height: 484px;
  padding: 41px 0 0 10px;
  margin-right: 10px;
}
#shame2_container {
  height: 474px;
  width: 475px;
  overflow: auto;
  overflow-x: hidden;
  padding-left: 5px;
  line-height: 1.2;
}
.shame2_news_container {
  overflow-x: hidden;
  background-color: #000000;
  margin-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-face-color: #000000;
  scrollbar-highlight-color: 999999;
  scrollbar-shadow-color: 999999;
  scrollbar-3dlight-color: #000000;
  scrollbar-arrow-color: 999999;
  scrollbar-track-color: #000000;
  scrollbar-darkshadow-color: #000000;
}
.shame2_news_box {
  margin: 0 0 5px 5px;
  border-bottom-width: 1px;
  border-bottom-style: groove;
  border-bottom-color: #333333;
  width: 455px;
  padding-bottom: 5px;
}
.banner_box {
  width: 395px;
  height: 65px;
  display: block;
  margin-bottom: 10px;
}
#tumblr_box {
  background: url(http://1919ikebukuro.com/image/syame_bg.jpg) top #191a1c no-repeat;
  height: 405px;
  padding-top: 45px;
  width: 395px;
  p {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #000;
  }
  ul {
    margin: 20px 0 20px 20px;
  }
  ul img {
    vertical-align: bottom;
    width: 100px;
    height: 100px;
    overflow-x: hidden;
    overflow-y: hidden;
    overflow: hidden;
  }
  ul li {
    display: inline-block;
    margin: 0 15px 15px 0;
    padding: 3px;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0 2px 7px #000;
  }
}

#girls_shame {
  background: url(http://1919ikebukuro.com/image/girls_syame_bg.jpg) #191a1c repeat;
  height: 500px;
  width: 230px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}
#middle_right {
  width: 230px;
  padding-top: 5px;
}
#girls_shame iframe body {
  background: url(http://1919ikebukuro.com/image/girls_syame_bg.jpg) #191a1c no-repeat !important;
}
.top_movie_news_container {
  background: url(http://1919ikebukuro.com/image/top_movie_news_bg.gif) no-repeat;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 645px;
  width: 230px;
  position: relative;
}
.top_movie_news_box {
  font-size: 14px;
  line-height: 18px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 43px;
  width: 210px;
  padding: 5px 0 5px;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #666666;
  margin-right: auto;
  margin-left: auto;
}
.top_movie_news_top {
  display: block;
  height: 64px;
  width: 230px;
  position: absolute;
  top: 0px;
}
.top_movie_news_bot {
  display: block;
  height: 67px;
  width: 230px;
  position: absolute;
  bottom: 10px;
  left: 1px;
}
.top_movie_news {
  display: block;
  width: 208px;
  height: 157px;
  margin-right: auto;
  margin-left: auto;
  padding: 85px 0 66px;
  img {
    width: 208px;
    height: 156px;
  }
}
.top_movie_news_left {
  display: block;
  padding: 2px;
  height: 37px;
  width: 46px;
  img {
    height: 37px;
    width: 46px;
  }
}
.top_movie_news_right {
  color: #ff3d7f !important;
  display: block;
  height: 37px;
  width: 150px;
  padding: 2px 0 2px 2px;
  overflow: hidden;
  a:hover {
    color: #ff3d7f !important;
  }
}
.top_movie_news_com {
  color: #ff3d7f !important;
  display: block;
  height: 36px;
  width: 160px;
  position: absolute;
  left: 54px;
  top: 244px;
  font-size: 13px;
  overflow: hidden;
  font-weight: bold;
  line-height: 18px;
  text-align: left;
}
.top_movie_news_com a:hover {
  color: #ff3d7f !important;
}
.top_movie_news_icon {
  height: 30px;
  width: 42px;
  position: absolute;
  left: 10px;
  top: 248px;
}
