#top_movie_wrapper {
  width: 890px;
  background-image: url(http://1919ikebukuro.com/image/top_movie_bg2.jpg);
  background-repeat: no-repeat;
  padding-left: 10px;
  height: 390px; }

.top_movie_box {
  float: left;
  display: block;
  overflow: hidden;
  width: 220px;
  height: 176px;
  margin-bottom: 8px;
  position: relative;
  background-repeat: no-repeat;
  background-image: url(http://1919ikebukuro.com/image/movie_box_bg.png);
  padding-top: 8px; }

.top_movie_title {
  line-height: 15px;
  height: 15px;
  text-align: center;
  width: 205px;
  margin-right: auto;
  margin-left: auto;
  color: #000; }

.top_movie {
  display: block;
  padding-top: 15px;
  padding-left: 4px;
  padding-right: 4px;
  height: 119px;
  width: 212px;
  z-index: -10; }

.top_movie_prof {
  font-size: 12px;
  padding-top: 2px;
  color: #FFF;
  padding-left: 13px;
  line-height: 13px; }

.top_movie_prof a:link {
  color: #FFFFFF;
  text-decoration: none; }

.top_movie_prof a:visited {
  color: #FFFFFF;
  text-decoration: none; }

.top_movie_prof a:hover {
  color: #FFFF00;
  text-decoration: none; }

.top_movie_prof a:active {
  color: #FFFF00;
  text-decoration: none; }

#top_movie_wrapper object {
  height: 154px !important;
  width: 192px !important; }

#top_movie_wrapper object embed {
  height: 154px !important;
  width: 192px !important; }

#top_movie_wrapper video {
  height: 119px !important;
  width: 212px !important; }

#top_movie_container .top_movie_box .news04_cap {
  position: absolute;
  height: 36px;
  width: 36px;
  right: 10px;
  bottom: 17px;
  z-index: 10; }

#top_movie_container .top_movie_box .top_movie_prof a {
  position: absolute;
  left: 20px;
  top: 148px; }

#movie_container .movie_box .movie a img {
  height: 108px;
  width: 192px;
  margin-top: 20px;
  margin-left: 5px; }
