#top_movie_wrapper {
  background: url(http://1919ikebukuro.com/image/top_movie_bg2.jpg) no-repeat;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 390px;
  width: 890px;
  padding: 0 5px 0;
  video {
    height: 119px !important;
    width: 212px !important;
  }
}
.top_movie_box {
  background: url(http://1919ikebukuro.com/image/movie_box_bg.png) no-repeat;
  display: block;
  position: relative;
  width: 220px;
  height: 176px;
  overflow: hidden;
  margin-bottom: 8px;
  padding-top: 8px;
  .news04_cap {
    position: absolute;
    height: 36px;
    width: 36px;
    right: 10px;
    bottom: 17px;
    z-index: 10;
  }
}
.top_movie_title {
  line-height: 15px;
  height: 15px;
  width: 205px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: #000;
}
.top_movie {
  display: block;
  height: 119px;
  width: 212px;
  padding: 15px 4px 0;
  z-index: -10;
}
.top_movie_prof {
  font-size: 12px;
  line-height: 13px;
  color: #FFF;
  padding: 2px 0 0 13px;
  a {
    position: absolute;
    left: 20px;
    top: 148px;
  }
  a:link {
    color: #FFFFFF;
    text-decoration: none;
  }
  a:visited {
    color: #FFFFFF;
    text-decoration: none;
  }
  a:hover {
    color: #FFFF00;
    text-decoration: none;
  }
  a:active {
    color: #FFFF00;
    text-decoration: none;
  }
}
