#top_movie_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 890px;
  background-image: url(http://1919ikebukuro.com/image/top_movie_bg2.jpg);
  background-repeat: no-repeat;
  padding: 0 5px 0;
  height: 390px; }
  #top_movie_wrapper video {
    height: 119px !important;
    width: 212px !important; }

.top_movie_box {
  display: block;
  overflow: hidden;
  width: 220px;
  height: 176px;
  margin-bottom: 8px;
  position: relative;
  background: url(http://1919ikebukuro.com/image/movie_box_bg.png) no-repeat;
  padding-top: 8px; }
  .top_movie_box .news04_cap {
    position: absolute;
    height: 36px;
    width: 36px;
    right: 10px;
    bottom: 17px;
    z-index: 10; }

.top_movie_title {
  line-height: 15px;
  height: 15px;
  text-align: center;
  width: 205px;
  margin-right: auto;
  margin-left: auto;
  color: #000; }

.top_movie {
  display: block;
  padding: 15px 4px 0;
  height: 119px;
  width: 212px;
  z-index: -10; }

.top_movie_prof {
  font-size: 12px;
  padding: 2px 0 0 13px;
  color: #FFF;
  line-height: 13px; }
  .top_movie_prof a {
    position: absolute;
    left: 20px;
    top: 148px; }
  .top_movie_prof a:link {
    color: #FFFFFF;
    text-decoration: none; }
  .top_movie_prof a:visited {
    color: #FFFFFF;
    text-decoration: none; }
  .top_movie_prof a:hover {
    color: #FFFF00;
    text-decoration: none; }
  .top_movie_prof a:active {
    color: #FFFF00;
    text-decoration: none; }
