@charset "shift_jis";
/* CSS Document */

body {
	margin: 0px;
	padding: 0px;
}
a:link, a:visited {
	text-decoration: underline;
	color: #FF2A6A;
}
a:hover, a:active {
	text-decoration: none;
	color: #FB7200;
}
#box {
	height: 150px;
	width: 300px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
}
#box span {
	color: #F00;
}
